/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1 {
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
p,
span,
ul,
ol,
li,
a {
  font-family: 'Stylish', sans-serif;
  color: #DEDEDE;
  text-decoration: none;
}
html {
  background-image: url('../img/bridge.jpg');
  box-shadow: inset 0 0 0 100% rgba(0, 0, 0, 0.2);
  background-size: cover;
  image-resolution: 300dpi;
  background-repeat: no-repeat;
}
@media (max-width: 500px) {
  html {
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
.nav-bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  font-size: 1.4rem;
  background: rgba(0, 0, 0, 0.8);
  text-align: end;
}
.nav-bar .nav-item {
  padding: 2rem;
  text-align: center;
}
.nav-bar .nav-item:hover {
  background: #444444;
}
@media (max-width: 500px) {
  .nav-bar {
    width: 100%;
    position: static;
  }
  .nav-bar .nav-item {
    display: block;
    padding: 1rem;
    width: 100%;
    border-bottom: 1px solid #DEDEDE;
  }
  .nav-bar .nav-item:last-child {
    border: none;
  }
  .nav-bar .nav-item:hover {
    background: #444444;
  }
}
.main-container {
  display: flex;
  margin: 5rem auto 1rem;
}
.main-container .main-left {
  height: 75%;
  padding: 0rem 2rem;
  border: 1px solid white;
  justify-content: center;
  margin: 1rem 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
}
.main-container .main-left .profile-pic {
  width: 20rem;
  height: 20rem;
  border-left: 2px solid white;
  border-right: 2px solid white;
  margin: 2rem;
  margin-left: 3rem;
  box-shadow: 1rem 1rem 0.5rem rgba(44, 44, 44, 0.5);
  border-radius: 5rem;
}
.main-container .main-left .name {
  background: rgba(44, 44, 44, 0.5);
  border: 1px solid #DEDEDE;
  padding: 1rem;
  width: 10rem;
  font-size: 1.4rem;
  margin: 1rem auto;
  z-index: 1;
  border-radius: 10rem;
}
.main-container .main-left .intro {
  position: relative;
  bottom: 7rem;
  padding: 1rem;
  text-align: center;
  height: 20rem;
}
.main-container .main-left .intro h2 {
  font-size: 1.8rem;
}
.main-container .main-left .intro p {
  width: 20rem;
  margin: 0 auto;
  font-size: 1.2rem;
}
.main-container .main-left .intro button {
  width: 100%;
  height: 2rem;
  background-color: #444444;
  border: none;
  font-size: 1.1rem;
  margin: 1rem auto;
  color: #DEDEDE;
}
.main-container .main-left .intro button:hover {
  background: #777777;
  color: black;
  border: 1px solid #DEDEDE;
  cursor: pointer;
}
.main-container .left-bottom {
  height: 23.1%;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  margin: 0 0.5rem;
}
.main-container .left-bottom h2 {
  font-size: 1.6rem;
  border-bottom: 1px solid #DEDEDE;
  text-align: center;
  padding: 1rem;
}
.main-container .left-bottom ul {
  list-style-type: circle;
  font-size: 1.1rem;
  padding: 1rem 2rem;
  line-height: 1.5;
}
.main-container .main-right {
  border: 1px solid white;
  height: 100%;
  padding: 1rem;
  margin: 1rem 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
}
.main-container .main-right h1 {
  font-size: 1.6rem;
  width: 100%;
  height: 2rem;
  text-align: center;
  border-bottom: 1px solid #DEDEDE;
}
.main-container .main-right .wh-item {
  padding: 1rem;
  margin: 1rem auto;
  border: 1px solid #DEDEDE;
  height: 30%;
  background: rgba(120, 120, 120, 0.8);
}
.main-container .main-right .wh-item .title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.main-container .main-right .wh-item .title .name {
  padding: 1rem;
  font-size: 1.8rem;
  border-bottom: 1px solid #DEDEDE;
}
.main-container .main-right .wh-item .title .date {
  padding: 0.5rem;
  border: 1px solid #DEDEDE;
}
.main-container .main-right .wh-item ul {
  padding: 1rem;
}
.main-container .main-right .wh-item ul li {
  list-style-type: disc;
  line-height: 1.5;
}
.main-container .main-right .wh-item .descrip {
  font-size: 1.4rem;
  border-bottom: 1px solid #DEDEDE;
  padding: 1rem;
  margin-bottom: 1rem;
}
@media (max-width: 500px) {
  .main-container {
    display: block;
    margin: 1rem auto;
  }
  .main-container .main-left {
    padding: 1rem 0rem;
  }
  .main-container .main-left .profile-pic {
    width: 15rem;
    height: 15rem;
    margin: 0 3rem;
  }
  .main-container .main-left .intro {
    margin-left: 1rem;
    width: 90%;
    height: 30rem;
  }
  .main-container .main-left .intro .name {
    margin: 2rem 3.45rem 0rem;
  }
  .main-container .main-left .intro .h2 {
    padding: 1rem;
    margin: 0rem 1rem;
    border-bottom: 1px solid #DEDEDE;
    text-align: center;
  }
  .main-container .main-left .intro p {
    width: 18rem;
    padding: 1rem;
    margin: 0 auto;
  }
  .main-container .main-left .intro button {
    width: 100%;
    margin: 0 1rem;
  }
}
.foot {
  padding: 1rem;
  margin: 2rem 1rem;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.foot h2 {
  font-size: 1.1rem;
  border-bottom: 1px solid #DEDEDE;
  padding-bottom: 1rem;
}
.foot h2 span {
  font-size: 1.4rem;
}
.foot .contact {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-left: 1px solid #DEDEDE;
  border-right: 1px solid #DEDEDE;
}
.foot p {
  padding: 1rem;
  margin: 1rem 1rem;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
}
.foot .p-edit {
  text-decoration: underline;
  font-size: 1rem;
}
@media (max-width: 500px) {
  .foot .contact {
    flex-direction: column;
  }
}
.copy {
  padding: 1rem 0rem;
  margin: 1rem 0rem;
  font-size: 1rem;
  color: black;
  text-decoration: underline;
  text-align: center;
}
